::-webkit-scrollbar {
    width: 8px;
}
/*BARRA DE ROLAGEM*/
::-webkit-scrollbar-thumb {
      background-color:#66bb6a;
}

.container, .container-fluid {
     padding-left: 0.5em; 
     padding-right: 0.5em;
}
.transicao{
    transition: all 0.5s;
}

